*.pyc
*.sw*

.deps

*.img
*.img.gz
*.tar
*.tar.gz
*.tgz
*.img.xz
*.zip
*.tar.zst
*.tar.zstd
*.7z
*.rar
*.initrd
*.initrd.gz
*.initrd.xz
*.initrd.zst
*.initrd.zsd

wpa_supplicant.conf
authorized_keys
config
