# - makefile -
# (C) 2023 Joerg Jungermann, GPLv2 see LICENSE
# config for ../docker-images/Makefile.Dockerfile.generic

#DOCKER_IMAGES :=
#DOCKER_IMAGES += xiegu-v1.1.8-modded
#DOCKER_IMAGES += r1cbu-v0.27.0-modded

#WORK_FILES :=
#WORK_FILES += xiegu-v1.1.8-modded.sdcard.img
#WORK_FILES += xiegu-v1.1.8-modded.update.img
#WORK_FILES += r1cbu-v0.27.0-vanilla.sdcard.img
#WORK_FILES += r1cbu-v0.27.0-modded.sdcard.img
#WORK_FILES += multiboot.sdcard.img
#WORK_FILES += multiboot-vanilla.sdcard.img
#WORK_FILES += multiboot-vanilla.update.img
#WORK_FILES += multiboot-modded.sdcard.img
#WORK_FILES += multiboot-modded.update.img

# this will initially build the buildroot volume and prepare the buildroot environment
#WORK_FILES += .deps/buildroot.built
#buildroot: .deps/buildroot.built .deps/buildroot.volume

# keep all image files, even from intermediate steps no longer needed
#.PRECIOUS: %.img

# Workaround for sources from the web behind a captcha
#FILENAME.zip:  /OUTSIDE/OF/TREE/../RELATIVE/OR/ABSOLUTE/FILE.zip
#X6100-1.1.7.1.update.zip:  ../x6100-dumps/x6100udimg-v1.1.7-230831001.zip
#	cat $< > $@
#
# vim: noet ts=2 sw=2 ft=Makefile
